.login_fields__password{
    position: relative;
}
.login_fields__password .n-txtCss{
    width:90% !important;
}
.login_fields__password .fa{
    position: absolute;
    right: 10px;
    top:15px;
    font-size: 20px;
    cursor: pointer;
}